*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#F0EFE9;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#app{
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 29rem;
    background-color: #ffffff;
    justify-content: flex-end;
    margin-top: 15vh;
    align-items: center;
    border-radius: 10px;

   
}


#app button  {
    border-radius: 100%;
    border: 0;
    font-size: 50px;
    background-color: #50E3A4;
    color: #fff;
    cursor: pointer; 
    height: 80px;
    width: 80px;
    margin-bottom: -40px;
    margin-top: 4px;
    
    
    
}
#app ul{
    list-style: none;
    font-weight: bold;
    font-size: 15px;
    
    

}
#app a{
    text-decoration: none;
    margin-left: 5px;
    background-color: #50E3A4;
    border-radius: 50%;
    padding: 2px;
    font-weight: 700;
    color: #fff;
    font-size: 1.2rem;
    padding-left: 4px;
    


   
}



#app input{
    width: 100%;
    height: 2rem;
    margin: 8px;
}