*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1D1A3B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    font-size: 1.2rem;
    color: #50E3A4;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size: 0.8rem;
    padding: 2px;
    color: #c70e0e;
    visibility: hidden;
}

#app{
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 29rem;
    background-color: #ffffff;
    justify-content: flex-end;
    margin-top: 1vh;
    align-items: center;
    border-radius: 10px;

   
}


#app button  {
    border-radius: 100%;
    border: 0;
    font-size: 50px;
    background-color: #50E3A4;
    color: #fff;
    cursor: pointer; 
    height: 80px;
    width: 80px;
    margin-bottom: -40px;
    margin-top: 4px;
    
    
    
}
#app ul{
    list-style: none;
    font-weight: bold;
    font-size: 15px;
    
    

}

#app li{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
#app a{
    text-decoration: none;
    margin-left: 5px;
    background-color: #50E3A4;
    border-radius: 5px;
    padding: 2px;
    font-weight: 700;
    color: #fff;
    font-size: 1.1rem;
    padding: 3px;
    
    


   
}

#app input{
    
    width: 100%;
    height: 2rem;
    border: 0;
    margin: 8px;
    padding: 4px;
}

#logo{
    margin-top: 20px;
    font-size: 3em;
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
}